{% extends 'layout' %}

{% block content %}
<h1>Editing {{ profile.name }}</h1>

<form role="form">
    <div class="form-group">
        <label for="userName">Name</label>
        <input class="form-control" id="userName" value="{{ profile.name }}">
    </div>
    <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email" class="form-control" id="userEmail" value="{{ profile.email }}">
    </div>
    <div class="form-group">
        <label for="userMemberId">Member ID</label>
        <input class="form-control" id="userMemberId" value="{{ profile.memberId }}">
    </div>
    <div class="form-group">
        <label for="userRank">Rank</label>
        <select class="form-control" id="userRank">
            
        </select>
    <div class="form-group">
        <label for="userZipCode">Zip Code</label>
        <input class="form-control" id="userZipCode" value="{{ profile.zipCode }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}